#root {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.cards{
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin: 2%;
  min-height: 200px;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  color: black;
  text-align: center;
}

.input-text{
  font-size: 1.5rem;
}

input[type=text]{
  font-size: 1.4rem;
  margin-bottom: 30px;
}
input[type=button]{
  font-size: 1.4rem;
  padding: 30px;
}


.cards-container{
  display: flex;
  justify-content: space-around;
  background-color: rgb(201, 107, 190);
  border-radius: 10px;
  padding: 1.5rem;
}

.read-the-docs {
  color: #888;
}

li {
  list-style-type: none;
}

.flex-div{
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  line-height: 1.4rem;
}

form > button{
  background-color: rgb(201, 107, 190);
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
  form > button:hover {
    background-color: rgb(241, 115, 226);
    transform: scale(1.1);
  }


  @media only screen and (max-width: 1300px) {
    #root  {
      width: 80%;
    }
  }
  @media only screen and (max-width: 980px) {
    #root  {
      width: 90%;
      
    }
    .cards{
      font-size: 1rem;
    }
  }
  @media only screen and (max-width: 680px) {
    #root  {
      width: 70%;
      padding: 1rem;
      
    }
    
    .cards{
      width: 90%;
    }

    .cards-container{
      flex-wrap: wrap;
      width: 80%;
    }
  }